.main {
    -fx-font-family: 'Century Gothic', sans-serif;
    -fx-font-size: 13pt;
    -fx-text-fill: #343A40;
}

.sidebar {
    -fx-background-color: #E9ECEF;
}

.button {
    -fx-background-color: transparent;
    -fx-text-alignment: left;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #CFD3D7;
}

.closeButton:hover {
    -fx-background-color: red;
    -fx-text-fill: #F8F9FA;
}

.body {
    -fx-background-color: #F8F9FA;
}

.hyperlink {
    -fx-text-fill: #868E96;
}